<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Chef Sammé</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Chef Sammé" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://chefsamme.com" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="section">
      <h1><a class="no-style" href="/">Chef Sammé</a></h1>
      <p>
        un popup take-out qui prône la simplicité et qui a surtout pour but de
        d'apporter le plaisir de manger, jusqu'à chez vous.
      </p>
    </div>

    <nav>
      <a href="#menu">Menu</a>
      <a href="#order">Commander</a>
    </nav>

    <div class="section section-r">
      <p>
        Votre Menu sera prêt à la date et l'heure que vous avez demandé. Vous
        recevrez d'ici peu un courriel avec votre reçu. Vous pouvez passer
        récupérer votre repas à l'adresse ci-bas 👇
      </p>
    </div>

    <footer>
      Chef Sammé<br />
      233 rue Bagot<br />
      Québec,QC
    </footer>
  </body>
</html>
