/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

fieldset {
  border: none;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: #ebece6;
  background-image: url("/static/images/bg.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top center;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;

  max-width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 100px 20px;
  gap: 20px 0;

  display: grid;
}

@media only screen and (min-width: 600px) {
  body {
    padding: 100px 0;
    grid-template-columns: 45% 45%;
    gap: 100px 10%;
  }

  .section.section-r {
    grid-column: 2;
    display: inline-grid;
    gap: 40px;
  }

  footer {
    grid-row: 4;
    grid-column: 2;
  }
}

.section-space {
  grid-column: 1;
  display: inline-grid;
  gap: 40px;
}
a,
a:visited,
a:active {
  color: inherit;
}
